*{
    box-sizing: border-box;
}
body {
    background: radial-gradient(rgb(255, 211, 218),rgb(255, 128, 255),rgb(165, 165, 255));
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 3, 50);
}
#name{
    font-size: 5px;
    margin-bottom: 0;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    background-color: rgba(235, 254, 255, 0.548);
    margin: 30px ;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px black;
}

.right{
    flex: 1;
}

.instruction{
    color: rebeccapurple;
    font-weight: bold;
}

.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guess_letter{
    width: 20%;
    background-color: darkcyan;
    border: none;
    padding: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    font-size: 15px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px, 1fr));
    gap: 10px;
}

.alp-btn{
    height: 3em;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(217, 171, 255);
    border: none;
    box-shadow: 0 0 1px 1.5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.alp-btn:active{
    box-shadow: 0 0 1px 1px black;
}

#submit-btn{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 15em;
    height: 13em;
    border-radius: 20px;
}
#display{
    color:crimson;
    font-size: 2em;
}
#reset{
    display: none;
    background-color: rgb(215, 0, 126);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .container{
        flex-direction: column;
    }
}
